body{
  background-color: gray;
}

img{
  display: block;
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.nameandnumber{
  text-align: center;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
}
